<!DOCTYPE html>
<html>
<head>
  <title>Blockbuster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete if current_user %>

<%= yield %>

</body>
</html>
